<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="pagination" class="store-filter clearfix">
<!-- 		<span class="store-qty" th:text="'Total products available: ' + ${#lists.size(products.pageList)}">Showing 20-100 products</span> -->
		<ul class="store-pagination">

			<li
				th:class="${currentIndex == 1} ? 'disabled' : ''">
				<a class="page-link" aria-label="Previous"
				th:href="@{|${baseUrl}${currentIndex - 1}|}"
				title='Go to previous page'>
					<i class="fa fa-angle-left" aria-hidden="true"></i>
				</a>
			</li>
			<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
				th:class="${item == currentIndex} ? 'active' : ''">
				<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
					th:text='${item}'>1</span>
			</a>
			</li>
			<li
				th:class="${currentIndex == totalPageCount} ? 'disabled' : ''">
				<a class="page-link" aria-label="Next"
				th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
</body>
</html>