<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CartMapper">
	
	<resultMap type="Cart" id="cartDetails">
		<id property="cart_id" column="cart_id"/>
		<result property="username" column="username"/>
		<result property="cart_date" column="cart_date"/>
		<result property="city" column="city"/>
		<result property="country" column="country"/>
		<result property="zipcode" column="zipcode"/>
		
		<collection property="products" ofType="ProductCategory" autoMapping="true"></collection>
	</resultMap>

	<select id="insertCart" parameterType="Cart">
		 INSERT ALL  
		    <foreach collection="list" item="element" index="index" >
		     INTO EMPLOYEE (id,name) values (#{element.id},#{element.name})
		    </foreach>
		   SELECT * FROM dual
	</select>
	
</mapper>