<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CartMapper">
	
	<resultMap type="Cart" id="cartOfUser">
		<id property="cart_id" column="cart_id"/>
		<result property="username" column="username"/>
		<result property="cart_date" column="cart_date"/>
		<result property="city" column="city"/>
		<result property="country" column="country"/>
		<result property="zipcode" column="zipcode"/>
		
		<collection property="products" ofType="ProductCategory" autoMapping="true">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="image" column="image"/>
			<result property="quantity" column="amount"/>
			<result property="price" column="price"/>
			<result property="isNew" column="isNew"/>
		</collection>
	</resultMap>
	
	<parameterMap type="java.util.Map" id="cartParameters">
		<parameter property="address" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="notes" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="username" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="cart_date" jdbcType="DATE" mode="IN"/>
		<parameter property="country" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="city" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="zipcode" jdbcType="VARCHAR" mode="IN"/>	
		<parameter property="cid" jdbcType="INTEGER" mode="OUT"/>
	</parameterMap>
	
	
	<select id="insertNewCart" parameterMap="cartParameters" statementType="CALLABLE">
		call AddNewCart(#{address, mode=IN},
										#{notes, mode=IN},
										#{username, mode=IN},
										#{cart_date, mode=IN},
										#{country, mode=IN},
										#{zipcode, mode=IN},
										#{city, mode=IN},
										#{cid, jdbcType=INTEGER, mode=OUT});
	</select>
	
	<select id="insertProductsToCart" parameterType="Map">
		INSERT INTO CART_DETAIL(cart_id, product_id, amount) VALUES
		<foreach collection="products" item="product" index="index" separator=",">
			 (#{cid}, #{product.id}, #{product.quantity})
		</foreach>
	</select>
	
	<select id="selectCartsByUsername" resultMap="cartOfUser" parameterType="String">
		SELECT 
			c.cart_id, c.cart_date, c.city, c.country, 
			c.zipcode, c.username, cd.amount,
			p.id, p.name, p.image, p.price, p.isNew
		FROM cart c, cart_detail cd, product p
		WHERE c.username like #{username}
		AND c.cart_id = cd.cart_id
		AND p.id = cd.product_id
	</select>
	
</mapper>